@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* GENERAL*/
xbody{
    background-image:   url(./resources/fondo_vectorizado.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    
}
*{
    font-family: 'Roboto', sans-serif;
}
body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image:  url(../resources/google-maps-nedir.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    xfilter: blur(2px);
    filter: opacity(75%);
    z-index: -9;
}
/* LOGIN */
.logo{
    width: 40%;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
    
}
#form, #formRegistro{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 5%;
}
label{
    font-size: 25px;
    color: white;
}
input{
    font-size: 25px;
}
input[type=submit]{
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(137, 184, 255, 0.349);
    padding: 2%;
    margin: 2%;
}
#msg{
    color: rgb(255, 0, 0);
    text-shadow:4px 2px 7px #ffffffc7;
    font-size: 20px;
    text-align: center;
    margin: 2%;
}

#rutaRegistro{
    color: rgb(0, 0, 165);
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

/* HOME */
h1{
    padding: 2%;
    xtext-shadow: 2px 2px 10px rgba(64, 140, 255, 0.589);
}
/* container parte superior home*/
#containerSup{
    display: flex;
    justify-content: space-around;
    flex-flow: row ;
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;
}

/* container filtros del home */
#containerFiltros{
    justify-content: space-around;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    xpadding: 2%;
    text-align: center;
    width:70%;
}
.bonito{
    display: inline;
    border-radius: 10px;
    color: #000000;
    background-color: aliceblue;
    font-size: 20px;
    width: 200px;
    padding: 1%;
}
.bonito:hover {
    box-shadow:2px 2px 15px rgb(64, 140, 255);
}

#containerFiltros>form{
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
}

#containerContenidoHome{
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

#containerAddRuta{
    position: fixed;
    bottom:10px;
    right: 10px;
    
}
/*#btnAdd{
    background-color: rgb(54, 54, 54);
   
    margin: 5%;
    border-radius: 10%;
}*/

.cardMisEfectos{
    xborder-color: #00000059;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.795);
    border: 5px solid rgb(255, 255, 255);
}
.loginExit{
    position: fixed;
    right: 5%;
    width: 50px;
    height: 50px;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.904); /* Black w/opacity/see-through */
    border-radius: 50%;
    border: solid 5px rgba(255, 83, 83, 0.534);
}
.exit{
    width: 100px;
    height: 90px;
    margin-top: 1%;
}
.chat{
    margin-top: 1%;
}
/* TUTORIAL */
.btn-danger {
    background: #ed3330;
}

.btn-secondary {
    background: #c8d6e5;
    color: #222f3e !important; 
}

.btn:hover, #imgVolver:hover, #imgChat:hover{
    transform: scale(1.2);
}
#imgVolver{
    margin: 2%;
    xbackground-color: rgba(255, 255, 255, 0.904); /* Black w/opacity/see-through */
    border-radius: 50%;
    padding: 1%;
    xborder: solid 5px rgba(75, 75, 75, 0.534);
}
#imgChat{
    background: rgb(255, 255, 255);
    xbackground: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(51, 51, 51) 100%);
    border-radius: 50%;
    xpadding: 1%;
    border: solid 5px rgb(156, 219, 255);
    width: 5%;
}

/*LOADING*/
#loading {
    background: url('../resources/loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}


